{% extends "../base.html" %} 
{%block title%}Todo{%endblock%} 
{%block content%}
<div class="row mt-4">
  <div class="col">
    <h2>Add Item</h2>
    <form method = "POST" action = "/add_todo/" class="form-inline">
      {%csrf_token%}
        <div class="input-group">
            <input type="text" name = "content" class="form-control mb-2 mr-small-2 rounded" placeholder="type here...">
            <button type="submit" class="btn btn-primary mb-2 ms-2 rounded">Submit</button>

        </div>
    </form>
  </div>
</div>
<div class="row mt-4">
    <div class="col">
        <ul class="list-group">
          {%for todo in todos%}
            <li class="list-group-item">
              {{todo.text}}
              <div class = "float-end">
                <form action="/delete_todo/{{todo.id}}/" method="POST">
                  {%csrf_token%}
                  <button type="submit" class="btn btn-sm btn-danger mb-2 ms-2 rounded">Delete</button>
                </form>
              </div>

            </li>
          {%endfor%}
            
        </ul>
    </div>
</div>
{%endblock%}
